<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <script>
      //enhanced obj literals for concatinate
      // const keyName="name";
      //     const product ={
      //         [keyName]:"mobile",
      //         price:100,
      //     };
      //     console.log(product);

      // const keyName="name";
      // const product ={
      //         buy(){
      //             console.log("Bought");
      //         }
      //     }
      // product.buy();

      // const accessToken="gghhhhhhhhhhhhhh";
      // const refreshToken="asdsssssssssssssss";

      // const user={
      //     accessToken,
      // refreshToken,
      // };
      // console.log(user);

      // //arrya

      // const data=["rakesh",50,"enginnerr"];

      // const [name,age,education] =data;
      // console.log(name,age,education);

      //default parametrs
      // const register =(name ,password,image="tet.png")  =>{
      //     console.log(name,password,image);
      // }
      // register("rakesh","secret","photo.png");

      // //spread ...
      // const languages =["c","c++","java"];
      // const newlanguages=["typescript",...languages];
      // console.log(newlanguages);

      //spread obj
      // const settings ={
      //     volume:10,
      //     brightness:90,

      // };
      // const newSetting= {...settings,volume:20};
      // // newSetting.volume=20;
      // console.log(newSetting);

      //rest

      // const addItems=(...items) =>{
      //     console.log(items);
      // };
      // addItems(3,4,3,20,30);

      // // const numbers =[2,3,4,56,10];
      // // for(const num of numbers){
      // //     console.log(num);
      // // }
      // const language ="javascript";

      // for(const char of language){
      //     console.log(char);
      // }

      // const person ={
      //     name:"rakesh",
      //     city:"pune",
      //     age:"22",
      // };
      // for (const [key,value] of Object.entries(person)){
      // console.log(key,value);
      // };

      // promises

    //   function login() {
    //     return new Promise((resolve, reject) => {
    //       setTimeout(() => {
    //         console.log("login");
    //         resolve();
    //       },4000);
    //     });
    //   }
    //   login().then(() => {
    //     console.log("redirectiing.........");
    //     console.log("reconnecting.........");

    //   });






// 


//find (arrray method)
// const users =[{name:"rakesh"},{name:"john"}];
//  const user =users.findIndex((user) =>{
//     return user.name ==="john";
// });
// console.log(user);



//set 
// 
// const numbers =[4,4,5,6,2,1];
// const uniqueNumbers=new Set(numbers);
// console.log(Array.from(uniqueNumbers));

//map

// //clsses
class Person{
    name;
    constructor(name){
        this.name=name;

    }
greet(){
    console.log("gm");
}
}
class GreatPerson extends Person{
attitude="cool";
greet(){
    console.log("gooddddd");
}

}
// const rakesh =new Person("rakesh");
const john =new  GreatPerson("johnny");
// john.name="joy honey";

console.log(john);


















    </script>
  </body>
</html>
