<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <style>
        #myApp{
            height: 20px;
            width: 50px;
            background-color: rgb(198, 139, 240);
border-radius: 20px;
font-size: 5px;
border: none;
        }
    </style>

<!-- <button id="myButton">click</button> -->

<!--  <button id="myApp">click here</button>
<p id="para"></p>
    <script>-->

  
<!-- // const greet=(a,b)=>{
//     console.log(a+b);
// }
// greet(5,5);

// const addition=(a,b,c) =>console.log(a+b+c);
// addition(5,5,5);
// const myButton = document.querySelector("#myButton");
// const shop = {
//     price:100,
//     version:"i5",
//     buy:function (){
//         myButton.addEventListener("click",()  =>{
//             console.log(" I spend" + this.price +"   "+this.version);
//         });
//     },
// };
// shop.buy();


// const myApp= document.querySelector("#myApp");
// const gallary ={
//     name:"nutan",
//     sirname:"kadam",
//     show:function () {
//         myApp.addEventListener("click",() =>{
//             console.log(" i am gallary" + this.name + this.sirname);
//         });
//     },
// };
// gallary.show(); -->



const name="nutan";
const firstName = `heelo ${name}
how are you
`;
console.log(firstName);




</script>
</body>
</html>